body {
    font-family: 'Gowun Batang', serif;
    background-color: rgb(56, 56, 73);
    /* background-color: rgb(255, 255, 255);  */
}

.container {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
    color: rgb(255, 248, 234);
    /* color: rgb(0, 0, 0); */
}