{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
<h1>Bear Time</h1>
<!-- <div class="badges">
    <a href="#">
        <img alt='Get it on Google Play'
        src="{% static 'images/googleplay.png' %}" />
    </a>
    <a href="#">
        <img alt="Download on the App Store" src="{% static 'images/appstore.png' %}">
    </a>
</div> -->
<br>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/bOZ3TOmdOB8?si=d7-Jj8jizjQAt2Sj" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

<div class="game-info">
    <p data-label="Platform:">Mobile</p>
    <p data-label="Company:">Appidea</p>
    <p data-label="Engine:">Unity</p>
    <p data-label="Project Length:">In Progress</p>
    <p data-label="Release Date:">TBD</p>
</div>

<div class="contribution">
    <h2>CONTRIBUTION SUMMARY</h2>
    <br>
    <p><strong>Game Design and Planning:</strong></p>
    <ul>
        <li>Collaborating with the game design team to understand the game concept, mechanics, and objectives.</li>
        <li>Translating game design documents into technical requirements and specifications.</li>
    </ul>

    <p><strong>Programming:</strong></p>
    <ul>
        <li>Writing code to implement game features, mechanics, and functionality using C# (Unity's primary scripting
            language).</li>
        <li>Implementing game logic, character controllers, AI behavior, user interfaces, and other interactive
            elements.
        </li>
        <li>Integrating audio, visual effects, and animations into the game.</li>
    </ul>

    <p><strong>Unity Editor Workflow:</strong></p>
    <ul>
        <li>Using the Unity Editor to create and manage game assets, scenes, and levels.</li>
        <li>Setting up and configuring game environments, lighting, and cameras.</li>
        <li>Implementing and tuning game parameters within the Unity Editor.</li>
    </ul>

    <p><strong>Collaboration:</strong></p>
    <ul>
        <li>Collaborating with artists, designers, and other developers to ensure a cohesive and well-integrated game
            experience.</li>
        <li>Integrating assets provided by artists, such as 3D models, visual effects, textures, and animations, into the game.</li>
    </ul>

    <p><strong>Bug Fixing and Optimization:</strong></p>
    <ul>
        <li>Identifying and fixing bugs and issues in the game code.</li>
        <li>Optimizing game performance, including frame rate and memory usage.</li>
    </ul>

    <p><strong>Testing:</strong></p>
    <ul>
        <li>Conducting playtesting to identify gameplay issues, bugs, and areas for improvement.</li>
        <li>Iteratively testing and refining the game based on feedback from testing sessions.</li>
    </ul>

    <p><strong>Version Control:</strong></p>
    <ul>
        <li>Using version control systems (Git) to manage and track changes to the game codebase.</li>
    </ul>

    <p><strong>Learning and Keeping Up-to-Date:</strong></p>
    <ul>
        <li>Staying informed about new Unity features, best practices, and industry trends.</li>
        <li>Continuously improving skills and adapting to new technologies.</li>
    </ul>

    <p><strong>Problem Solving:</strong></p>
    <ul>
        <li>Analyzing and solving technical challenges that arise during development.</li>
        <li>Implementing creative solutions to achieve desired gameplay experiences.</li>
    </ul>
</div>

{% endblock content %}