{% extends 'main.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<div class="profile-container">
    <div class="profile-info">
        <h2>Tornike Shatberashvili</h2>
        <img class="profile-image" src="{% static 'images/profile.jpg' %}" alt="Profile pircture">
        <br>
        <br>
        <ul class="social-icons">
            <li><a href="mailto:shatberashvilitornike@gmail.com" target="_blank"><img
                src="{% static 'images/gmail.png' %}" alt="Gmail"></a></li>
            <li><a href="https://www.linkedin.com/in/tornike-shatberashvili-7a0900239/" target="_blank"><img
                        src="{% static 'images/linkedin.png' %}" alt="LinkedIn"></a></li>
            <li><a href="https://www.instagram.com/tornike.shatberashvili/" target="_blank"><img
                        src="{% static 'images/instagram.png' %}" alt="Instagram"></a></li>
            <li><a href="https://www.facebook.com/profile.php?id=100010870067003" target="_blank"><img
                        src="{% static 'images/facebook.png' %}" alt="Facebook"></a></li>
        </ul>
    </div>
    <br>
    <div class="bio">
        <p>
            Passionate and creative game developer with a love for bringing virtual worlds to life. I thrive on the
            challenges of creating immersive gaming experiences that captivate
            players
            and push the boundaries of interactive entertainment.
        </p>
    </div>
</div>
<hr class="separator">
<h2>Projects</h2>
<p class="project-link">
    <a href="{% url 'bear-time' %}">Bear Time</a>
</p>
<p class="project-link">
    <a href="{% url 'merge-horizons' %}">Merge Horizons</a>
</p>
{% endblock content %}