{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
<h1>Merge Horizons</h1>
<div class="badges">
    <a href="https://play.google.com/store/apps/details?id=com.merge.builder.puzzle2048" target="_blank">
        <img alt='Get it on Google Play' src="{% static 'images/googleplay.png' %}" />
    </a>
    <a href="https://apps.apple.com/us/app/merge-horizons-village-builder/id6453763634" target="_blank">
        <img alt="Download on the App Store" src="{% static 'images/appstore.png' %}">
    </a>
</div>
<br>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/vpPyr8v-9Kk?si=q6W98bku8dadhe9R" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
</div>

<div class="game-info">
    <p data-label="Platform:">Mobile</p>
    <p data-label="Company:">Appidea</p>
    <p data-label="Engine:">Unity</p>
    <p data-label="Project Length:">4 Months</p>
    <p data-label="Release Date:">August 2023</p>
</div>

<div class="contribution">
    <h2>CONTRIBUTION SUMMARY</h2>
    <br>
    <p><strong>1. Game Design and Planning:</strong></p>
    <ul>
        <li>Collaborating with the game design team to understand the game concept, mechanics, and objectives.</li>
        <li>Translating game design documents into technical requirements and specifications.</li>
    </ul>

    <p><strong>2. Programming:</strong></p>
    <ul>
        <li>Writing code to implement game features, mechanics, and functionality using C# (Unity's primary scripting
            language).</li>
        <li>Implementing game logic, complex user interfaces, and other interactive
            elements.
        </li>
        <li>Integrating audio, visual effects, and animations into the game.</li>
    </ul>

    <p><strong>3. Unity Editor Workflow:</strong></p>
    <ul>
        <li>Using the Unity Editor to create and manage game assets, scenes, and levels.</li>
        <li>Setting up and configuring game environments, lighting, and cameras.</li>
        <li>Implementing and tuning game parameters within the Unity Editor.</li>
    </ul>

    <p><strong>4. Collaboration:</strong></p>
    <ul>
        <li>Collaborating with artists, designers, and other developers to ensure a cohesive and well-integrated game
            experience.</li>
        <li>Integrating assets provided by artists, such textures, visual effects, and animations, into the game.</li>
    </ul>

    <p><strong>5. Bug Fixing and Optimization:</strong></p>
    <ul>
        <li>Identifying and fixing bugs and issues in the game code.</li>
        <li>Optimizing game performance, including frame rate and memory usage.</li>
    </ul>

    <p><strong>6. Testing:</strong></p>
    <ul>
        <li>Conducting playtesting to identify gameplay issues, bugs, and areas for improvement.</li>
        <li>Iteratively testing and refining the game based on feedback from testing sessions.</li>
    </ul>

    <p><strong>7. Version Control:</strong></p>
    <ul>
        <li>Using version control systems (Git) to manage and track changes to the game codebase.</li>
    </ul>

    <p><strong>8. Learning and Keeping Up-to-Date:</strong></p>
    <ul>
        <li>Staying informed about new Unity features, best practices, and industry trends.</li>
        <li>Continuously improving skills and adapting to new technologies.</li>
    </ul>

    <p><strong>9. Problem Solving:</strong></p>
    <ul>
        <li>Analyzing and solving technical challenges that arise during development.</li>
        <li>Implementing creative solutions to achieve desired gameplay experiences.</li>
    </ul>
</div>

{% endblock content %}